@import "./fontawesome/scss/fontawesome.scss";
@import "./fontawesome/scss/solid.scss";
@import "./fontawesome/scss/brands.scss";

.menu {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:  #1a5276 ;
  overflow-x: hidden;
  padding-top: 20px;
  .current {
    background: #5dade2;
  }

  ul {
    list-style: none;
    padding: 0;
  }
  a {
    padding: 6px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;

    &:hover {
      background:  #5dade2 ;
    }
  }
}
.moove-right {
  margin-left: 250px;
}
.content {
  padding: 0 2rem;
  margin: 0 auto;
  max-width: 1070px;
}

li ul { display: none; }
li:hover > ul {
  display: block;
}
li:hover a { background: #5dade2; }
li:hover li a:hover { background:  #aed6f1 ; }

form {
  max-width: 800px !important;
  margin: 0 auto;
  border:1px solid gray;
  border-radius: 3px;
  padding: 20px;
}

.champ {
  height: 45px;
  margin-bottom: 15px;
}
input[type="url"], input[type="date"], input[type="file"], input[type="text"], input[type="email"], input[type="number"], input[type="search"],  input[type="password"],  textarea, select {
  width: 30%;
  height: 45px;
  padding: 0.5rem 1rem;
  background-color:
          #f2f6f8;
  appearance: none;
  border: 1px solid
  #cedde5;
  border-radius: 3px;
  box-sizing: border-box;
  vertical-align: middle;
  clear: both;
  float: right;

  &:focus {
    border: 1px solid #1a5276;
  }
}