@import "./fontawesome/scss/fontawesome.scss";
@import "./fontawesome/scss/solid.scss";
@import "./fontawesome/scss/brands.scss";

.menu {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:  #1a5276 ;
  overflow-x: hidden;
  padding-top: 20px;
  .current {
    background: #5dade2;
  }

  ul {
    list-style: none;
    padding: 0;
  }
  a {
    padding: 6px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;

    &:hover {
      background:  #5dade2 ;
    }
  }
}
.moove-right {
  margin-left: 250px;
}
.content {
  padding: 0 2rem;
  margin: 0 auto;
  max-width: 1070px;
}

li ul { display: none; }
li:hover > ul {
  display: block;
}
li:hover a { background: #5dade2; }
li:hover li a:hover { background:  #aed6f1 ; }

.champ {
  height: 45px;
  margin-bottom: 15px;
}
.classic-form {
  max-width: 800px !important;
  margin: 0 auto;
  border:1px solid gray;
  border-radius: 3px;
  padding: 20px;
  input[type="url"], input[type="date"], input[type="file"], input[type="text"], input[type="email"], input[type="number"], input[type="search"],  input[type="password"],  textarea, select {
    width: 30%;
    height: 45px;
    padding: 0.5rem 1rem;
    background-color:
            #f2f6f8;
    appearance: none;
    border: 1px solid
    #cedde5;
    border-radius: 3px;
    box-sizing: border-box;
    vertical-align: middle;
    clear: both;
    float: right;

    &:focus {
      border: 1px solid #1a5276;
    }
  }

  input[type="submit"] {
    border-radius: 5px;
    background-color: #1a5276;
    border: solid 2px #1a5276;
    color: #ffffff;
    padding: 10px;

    &:hover {
      background-color: #ffffff;
      color: #1a5276;
    }
  }
}


//Listes
.listItem {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  @extend %fa-icon;
  @extend .fas;
  .item {
    position: relative;
    flex: 0 0 47%;
    border: solid 2px #1a5276;
    border-radius: 5px;
    padding: 10px;
    list-style: none;
    margin: 0 0 1% 1%;

    &:nth-child(2n+1) {
      margin-left: 0;
    }
    .nom {
      margin-bottom: 60px;
      &:before {
        content: fa-content($fa-var-user);
      }
    }

    .type {
      position: absolute;
      top: 0;
      right: 0;
      background: #5dade2;
      border-top-right-radius: 3px;
      border-left: solid 2px #1a5276;
      border-bottom: solid 2px #1a5276;
      border-bottom-left-radius: 5px;
      padding: 4px;
    }

    .adresse:before {
      content: fa-content($fa-var-home);
    }

    .update {
      position: absolute;
      bottom: 0;
      right: 20px;
      padding: 5px;

      &:before {
        content: fa-content($fa-var-edit);
      }
        background: none;
        text-decoration: none;

    }

      .delete {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 5px;

        &:before {
          content: fa-content($fa-var-times);
        }

          background: none;
          text-decoration: none;

      }

  }
}

.search {
  margin-top: 30px;
  form {
    input[type="text"] {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      padding: 5px;
      width: 30%;
      border: solid 2px  #000000;
    }

    #submitSearch {
      background-color: #1a5276;
      color: #ffffff;
      border-collapse: collapse;
      padding: 5px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      border: solid 2px  #000000;
      border-left: none;
      &:hover {
        background-color: #aed6f1;
      }
    }
  }
}

.filtres {
  margin-top: 20px;
  #submitFiltre {
    margin-left: 30px;
    background-color: #1a5276;
    color: #ffffff;
    padding: 5px;
    border-radius: 20px;
    border: solid 2px  #000000;
    &:hover {
      background-color: #aed6f1;
    }
  }

}

.error_message {
  display: inline-block;
  @extend .fa;
  @extend .fas;

  border: solid red;
  padding: 10px;
  background: lightcoral;
  color: white;
  margin-top: 20px;
  border-radius: 5px;

  &:before {
    content: fa-content($fa-var-exclamation-triangle);
    margin-right: 3px;
  }
}

.ok_message {
  display: inline-block;
  @extend .fa;
  @extend .fas;

  border: solid green;
  padding: 10px;
  background: lightgreen;
  color: white;
  margin-top: 20px;
  border-radius: 5px;

  &:before {
    content: fa-content($fa-var-check-circle);
    margin-right: 3px;
  }
}