
.menu {
  height: 100%;
  width: 220px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:  #1a5276 ;
  overflow-x: hidden;
  padding-top: 20px;

  ul {
    list-style: none;
    padding: 0;
  }
  a {
    padding: 6px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;

    &:hover {
      background:  #5dade2 ;

    }
  }
}

.content {
  padding: 0 2rem;
  margin-left: 220px;
}